# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

# Folders
logs/
target/
.idea/
bin/
gen/
out/

# IDE Specifics
*.iml
*.ipr
*.iws